<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dryfire.medify">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/medify_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medify_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Activities.SplashScreen">



        </activity>

        <activity android:name=".Activities.SignUpActivity">

        </activity>

        <activity android:name=".Activities.MainActivity">



        </activity>
        <activity android:name=".UI.Profile.ProfileActivity">


        </activity>
        <activity android:name=".Activities.LoginActivity">

        </activity>
        <activity android:name=".UI.More.MoreActivity"/>
        <activity android:name=".Activities.FullDetailActivity"/>

        <activity android:name=".UI.HowToUse.HowToUse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>